
* { margin: 0; padding: 0; }

body { background: #000; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#wrapper {
  font-family: Helvetica;
  width: 320px;
  height: 480px;
  margin: 20px auto;
  position: relative;
}

section {
  padding: 40px 20px;
}

section p {
  color: #fff;
  font-size: 38px;
  line-height: 50px;
}

section p.summary {
  padding-bottom: 20px;
}

.current-stuff {
  overflow: auto;
  padding: 10px 0
}

section strong {
  float: right;
}

select {
  background: none;
  border: none;
  border-bottom: 1px dotted #fff;
  padding-bottom: 5px;
  -webkit-appearance: initial;
  font-size: 38px;
  line-height: 50px;
  color: #fff;
  font-family: inherit;
}

button {
  border: none;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 30px;
  padding: 5px 20px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

#declaration div {
  float: right;
  width: 120px;
  color: #fff;
}

section {
  background: #ff1133;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

nav button {
  border: none;
  width: 27%;
  height: 100%;
  margin: 0 2% 0 3%;
}

nav button.active {
  background: #fff;
  color: #ff1133;
}
